#cookie-bar {
	user-select: none;
    height: auto;
    line-height: 50px;
    text-align: center;
    transition: all 1s;
	position: fixed;
	z-index: 2147483647;
	left: 0;
	width: 100%;
	bottom: 0;
	top: auto;
	.btn {
		margin-left: 0.5rem;
		padding: 0 #{$grid-gutter-width/2};
		display: inline-block;
	}
}
